.custom-gallery-layout {
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    height: auto;
    width: auto;
    background-color: #f4fff0;
}

.custom-gallery-layout .carousel-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  
  .custom-gallery-layout .carousel-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .custom-gallery-layout .carousel {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-gallery-layout img{
    border-radius: 30px;
  }
  .custom-gallery-layout .item {
    border-radius: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .custom-gallery-layout .item.active {
    border-radius: 30px;
    display: flex; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .custom-gallery-layout .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .custom-gallery-layout .left-arrow {
    left: -40px;
  }
  
  .custom-gallery-layout .right-arrow {
    right: -40px;
  }
  
  .custom-gallery-layout .carousel-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .custom-gallery-layout .carousel-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .custom-gallery-layout .carousel-dots .dot.active {
    background-color: #333;
  }

  #custom .card-img-top{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #custom .carousel-inner{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  